<%= form_with(model: comedian, local: true) do |form| %>
  <% if comedian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comedian.errors.count, "error") %> prohibited this comedian from being saved:</h2>

      <ul>
        <% comedian.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :funniness_rating %>
    <%= form.number_field :funniness_rating, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
