<p id="notice"><%= notice %></p>

<h1>Band: <%= @band.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @band.description %>
</p>

<p>
  <%= link_to 'Edit', edit_band_path(@band) %> |
  <%= link_to 'Back', bands_path %>
</p>

<h3>Comments</h3>

<%= render "comments/new", commentable: @band %>

<div class="mt-4">
  <%= render "comments/index", commentable: @band %>
</div>

<div class="mt-4">
  <h5>Users who have commented on this band</h5>

  <% @users = [] %>

  <% @users.uniq.each do |user| %>
    <%= link_to user.name, user %>
  <% end %>
</div>
